@font-face {
  font-family: "Roboto";
  src: url("./static/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./static/fonts/Alice-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}